<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/boodtrap/css/bootstrap.css">
  <link rel="stylesheet" href="../static/style.css">
  <link rel="icon" type='image/png' href="../static/img/logo_trans_DA_Q.png">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

  <title class="titulo">Developer Action</title>
</head>

<body>

  <i class="bi bi-list menu-mobile"> <!--menu--></i>

  <div class="whatsapp-icon">
    <a href="https://wa.me/558496365051/?text=Olá! Gostaria de obter mais informações sobre os produtos/serviços oferecidos pela sua empresa. Você poderia me fornecer detalhes sobre os serviços disponíveis?"
      target="_blank" rel="noopener noreferrer">
      <img src="../static/img/icons8-whatsapp-96.png" alt="WhatsApp">
    </a>
  </div>


  <aside id="header">
    <section class="home">
      <img src="../static/img/LOGO HORIZONTAL V2.png" alt="Logo Developer Action">
      <!--
            <div class="social-links mt-4 text-center">
                
                <a target="_blank" href="https://www.instagram.com/developer_action?igsh=MWJtbDN4cWhsOW51Nw==">
                    <i class="bi bi-instagram"></i>
                </a>
                
                <a target="_blank" href="wa.me/message/D6NHKBRUV55GM1">
                    <i class="bi bi-whatsapp"></i>
                </a>

            </div>-->
    </section>
    <nav id='navbar' class="nav-menu">
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#"><i class="bi bi-app-indicator"></i> Home</a>
        </li>
        <!--coloque active se quiser deixar a nav-link do home ativado (nav-link active) ou desabilitado (nav-link desabled)-->
        <li class="nav-item">
          <a class="nav-link" href="#sobre"><i class="bi bi-people-fill"></i></i> Quem somos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#clientes"><i class="bi bi-buildings"></i> Clientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#servicos"><i class="bi bi-gear-wide"></i> Serviços</a>
        </li>
        <li class="nav-item">
          <!--<a class="nav-link" href="#planos"><i class="bi bi-send"></i> Planos</a>-->
          <a class="nav-link" href="#planos"><i class="bi bi-send"></i> Planos</a>
          <label class="info-balao">Em breve disponível!</label>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contato"><i class="bi bi-person-circle"></i> Contato</a>
        </li>
        <li class="nav-item">
          <!--<a class="nav-link" href="#loja"><i class="bi bi-shop"></i> Loja</a>-->
          <a class="nav-link" href="#loja"><i class="bi bi-shop"></i> Loja</a>
          <label class="info-balao">Em breve disponível!</label>

        </li>
        <li class="nav-item">
          <!--<a class="nav-link" aria-disabled="true"><i class="bi bi-door-closed"></i> Login</a>-->
          <a class="nav-link" href="#Login"><i class="bi bi-door-closed"></i> Login</a>
          <label class="info-balao">Em breve disponível!</label>
        </li>
      </ul>
    </nav>

  </aside>

  <main id="main">

    <section id="inicio" class="row m-0 p0">

      <div class="col-md-7 d-flex justify-content-center align-items-center flex-column">
        <h2 id="tituloinicio" class="text-white text shadow">Developer Action <br> Soluções em Tecnologia</h2>
        <span id="subititle" class="text-white text shadow">Integre seu negócio no mundo virtual e alcance novos
          horizontes
        </span>
      </div>

      <div class="social-media d-flex justify-content-center mt-md-0 mt-3">
        <a href="LINK_DO_SEU_LINKEDIN" target="_blank" class="me-3 text-white"><i class="bi bi-linkedin fs-4"></i></a>
        <a href="https://www.instagram.com/developer_action/reels/" target="_blank" class="me-3 text-white"><i
            class="bi bi-instagram fs-4"></i></a>
        <a href="https://wa.me/558496365051/?text=Olá! Gostaria de obter mais informações sobre os produtos/serviços oferecidos pela sua empresa. Você poderia me fornecer detalhes sobre os serviços disponíveis?"
          target="_blank" class="text-white"><i class="bi bi-whatsapp fs-4"></i></a>
      </div>

      <!--<div class="col-md-7 d-flex justify-content-end align-items-end">
        <div id="arrate" class="d-flex align-items-center">
          <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"></i>
          <a href="#sobre">Arrate para mais</a>
        </div>
      </div>-->

    </section>

    <section class="container mt-5 mt-md-0" id="sobre">
      <div class="row w-100">
        <div class="col-md-12" data-anime="down">

          <h2 class="pt-5">Quem Somos</h2>
          <p class="pt-1">Na Developer Action, somos uma equipe apaixonada e dedicada que se destaca na inovação e
            excelência
            digital. Estamos aqui para impulsionar o seu negócio para novos horizontes no mundo digital. Com soluções
            sob medida e uma abordagem centrada no cliente, oferecemos serviços de ponta em criação de aplicações,
            chatbots, desenvolvimento web, marketing digital e muito mais. Nossa missão é transformar sua visão em
            realidade digital, maximizando sua presença online, otimizando seu negócio e gerando resultados tangíveis.
            Junte-se a nós e embarque na jornada rumo ao sucesso digital!</p>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-md-4" data-anime="right"">
          <img class=" img-fluid shadow" src="../static/img/LOGO__V1.png" alt="Logo Developer Action"
          data-anime="left">
        </div>
        <div class="col-md-8" data-anime="right">
          <h3>Área de Atuação</h3>
          <p>Desenvolvemos e prestamos serviço de aplicações na área da tecnologia, nos seguintes tópicos:</p>

          <div class="row mt-3 mb-3">
            <div class="col-md-6">
              <ul class="list-group list-group-flush fs-6">
                <li class="list-group-item">
                  <span class="fw-lighter">
                    Criação de Sites
                  </span>
                </li>
                <li class="list-group-item">
                  <span class="fw-lighter">
                    Criação de Chatbots para WhatsApp
                  </span>
                </li>
                <li class="list-group-item">
                  <span class="fw-lighter">
                    Devolvimento de Sistemas
                  </span>
                </li>
              </ul>
            </div>

            <div class="col-md-6">
              <ul class="list-group list-group-flush fs-6">
                <li class="list-group-item">
                  <span class="fw-lighter">
                    Devolvimento de Aplicações Mobile
                  </span>
                </li>
                <li class="list-group-item">
                  <span class="fw-lighter">
                    Marketplace
                  </span>
                </li>
                <li class="list-group-item">
                  <span class="fw-lighter">
                    Manutenção e Suporte de Computadores
                  </span>
                </li>
              </ul>
            </div>
          </div>

        </div>
      </div>
      <br>
      <br>
    </section>

    <section class="mt-5 section-bg mt-md-0" id="clientes">
      <div class="container">
        <h2 class="pt-4" data-anime="down">Clientes</h2>
        <br>

        <div id="carouselclientes" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
          <!--<div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselclientes" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselclientes" data-bs-slide-to="1" aria-label="Slide 2"></button>
          </div>-->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row row-cols-1 row-cols-md-5 g-4">
                <div class="col">
                  <div class="card">
                    <img src="../static/img/galego.png" class="card-img-top" alt="Lanches do Galego Delivery">
                    <!--<div class="card-body">
                      <h5 class="card-title">Title</h5>
                      <p class="card-text"> Text </p>
                    </div>-->
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                    <img src="../static/img/LR.png" class="card-img-top" alt="Salão de Beleza Lairton Hairstyle">
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                    <img src="../static/img/Acai.png" class="card-img-top" alt="Exemplo">
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                    <img src="../static/img/DA_Banner.png" class="card-img-top" alt="Exemplo">
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                    <img src="../static/img/DA_Banner.png" class="card-img-top" alt="Exemplo">
                  </div>
                </div>
              </div>
            </div>

            <div class="carousel-item">
              <div class="row row-cols-1 row-cols-md-5 g-4">
                <div class="col">
                  <div class="card">
                    <img src="../static/img/DA_Banner.png" class="card-img-top" alt="Lanches do Galego Delivery">
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                    <img src="../static/img/DA_Banner.png" class="card-img-top" alt="Salão de Beleza Lairton Hairstyle">
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                    <img src="../static/img/DA_Banner.png" class="card-img-top" alt="Exemplo">
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                    <img src="../static/img/DA_Banner.png" class="card-img-top" alt="Exemplo">
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                    <img src="../static/img/DA_Banner.png" class="card-img-top" alt="Exemplo">
                  </div>
                </div>
              </div>
            </div>

          </div>
          <!--<button class="carousel-control-prev" type="button" data-bs-target="#carouselclientes" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselclientes" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span> 
          </button>-->
        </div>
        <br>
        <br>
      </div>
      <br>
    </section>

    <section class="container mt-5 mt-md-0" id="servicos">
      <div class="container">

        <h2 class="pt-4">Serviços</h2>
        <br>

        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col">
            <div class="card" data-anime="right">
              <img src="../static/img/4884785_freepik_web.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Desenvolvimento de Sites</h5>
                <p class="card-text">Amplie as oportunidades ao destacar-se no mercado. Crie uma página para o seu
                  negócio, atraindo novos clientes e estabelecendo uma forte presença online. Isso possibilitará que sua
                  empresa se destaque e expresse sua essência no mercado.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card" data-anime="right">
              <img src="../static/img/Freepik.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Desenvolvimento de Chatbots</h5>
                <p class="card-text">Transforme seu comércio com atendimento ao cliente automatizado. Descubra como um
                  chatbot pode revolucionar a forma como você interage com seus clientes, tornando o primeiro contato
                  mais fácil, direto e eficiente. Proporcione uma experiência única aos seus clientes desde o primeiro
                  instante. </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card" data-anime="right">
              <img src="../static/img/4421964_freepik.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Desenvolvimento de Sistemas</h5>
                <p class="card-text">Potencialize sua empresa com um sistema personalizado, cuidadosamente adaptado para
                  atender às suas necessidades específicas. Garanta um controle superior no atendimento, além de
                  reforçar a segurança e a confiabilidade. Aperfeiçoe sua operação com soluções profissionais que
                  impulsionam seu sucesso.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card" data-anime="right">
              <img src="../static/img/5035108_storyset.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Desenvolvimento de Aplicações Mobile</h5>
                <p class="card-text">Aproxime-se e fidelize seus clientes investindo em aplicações móveis. Com
                  smartphones, você pode interagir diretamente com os usuários, enviando notificações, oferecendo
                  promoções e proporcionando fácil acesso aos seus serviços. Fortaleça o vínculo com sua audiência e
                  impulsione seu negócio para o próximo nível.</p>
              </div>

            </div>
          </div>
          <div class="col">
            <div class="card" data-anime="right">
              <img src="../static/img/cyber-monday-shopping-sales_freepik.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Marketplace</h5>
                <p class="card-text">Explore nosso Marketplace de tecnologia, onde confiabilidade e disponibilidade se
                  encontram. Com entrega em todo o Brasil, oferecemos uma ampla gama de produtos tecnológicos para
                  atender às suas necessidades. Descubra agora mesmo o futuro da tecnologia em suas mãos.</p>
              </div>

            </div>
          </div>
          <div class="col">
            <div class="card" data-anime="right">
              <img src="../static/img/miniature-workmen-repairing-laptop-keyboard_awesomecontent.jpg"
                class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Manutenção e Suporte de Computadores</h5>
                <p class="card-text">Obtenha suporte técnico confiável e eficiente para seus computadores. Nossa equipe
                  especializada está pronta para resolver qualquer problema e manter seus sistemas funcionando sem
                  interrupções. Descubra como podemos cuidar da saúde dos seus dispositivos, proporcionando
                  tranquilidade e desempenho otimizado.</p>
              </div>

            </div>
          </div>
        </div>

      </div>
    </section>
    <!--
    <section class="mt-5" id="planos">
      <div class="container pb-5">
        <h2 class="pt-3 pb-4">Planos</h2>
        <div class="row">
          <div class="col-md-6">
            <h3 class="pl-title">Mensal</h3>
            <div class="pl-item">
              <h4>blablabla</h4>
              <h5>blablabla</h5>
              <p><em>blebleble</em><p>
              <p>wadawdadwdadwadwasdwadwa</p>
            </div>
            <div class="pl-item">
              <h4>blablabla</h4>
              <h5>blablabla</h5>
              <p><em>blebleble</em><p>
              <p>wadawdadwdadwadwasdwadwa</p>
            </div>
          </div>
          <div class="col-md-6">
            <h3 class="pl-title">Anual</h3>
            <div class="cv-item">
              <h4>blablabla</h4>
              <h5>blablabla</h5>
              <p><em>blebleble</em><p>
              <p>wadawdadwdadwadwasdwadwa</p>
            </div>
            <div class="vc-item">
              <h4>blablabla</h4>
              <h5>blablabla</h5>
              <p><em>blebleble</em><p>
              <p>wadawdadwdadwadwasdwadwa</p>
            </div>
          </div>
        </div>
      </div>
    </section>
-->
    <section class="container mt-5" id="contato">
      <div class="container">
        <br>
        <br>
        <h2 class="pt-3 pb-3">Contato</h2>

        <div class="row">
          <div class="col-md-5" data-anime="right">

            <div class="card p-5 shadow border-0">

              <div class="endereço">
                <h4><i class="bi bi-geo-alt"></i> Localização: </h4>
                <p>Natal, RN</p>
              </div>

              <div class="email">
                <h4><i class="bi bi-envelope"></i> Email: </h4>
                <p>developeractionn@gmail.com</p>
              </div>

              <div class="redes d-flex align-items-center">
                <h4 class="me-3"><i class="bi bi-person-lines-fill"></i> Redes Sociais: </h4>
                <h4 class="me-3"><a
                    href="https://wa.me/558496365051/?text=Olá! Gostaria de obter mais informações sobre os produtos/serviços oferecidos pela sua empresa. Você poderia me fornecer detalhes sobre os serviços disponíveis?"
                    target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-whatsapp"></i></a></h4>
                <h4 class="me-3"><a href="https://www.instagram.com/developer_action/reels/" target="_blank"
                    rel="noopener noreferrer">
                    <i class="bi bi-instagram"></i></a></h4>
                <h4><a href="#" target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-linkedin"></i></a></h4>
              </div>


              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d254040.33342046887!2d-35.5171765537558!3d-5.8018568525871785!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7b2fffe144c508b%3A0xe0bbded8ff561818!2sNatal%20-%20RN!5e0!3m2!1spt-BR!2sbr!4v1708573339114!5m2!1spt-BR!2sbr"
                width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade" class="w-100"></iframe>

            </div>
          </div>
          <div class="col-md-7 mt-5 mt-md-0" data-anime="right">
            <div class="card p-5 h-100 shadow border-0">

              <form class="row g-3" action="/send" method="POST">
                <div class="col-md-6">
                  <label for="nome" class="form-label">Nome:</label>
                  <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite seu nome" required>
                </div>
                <div class="col-md-6">
                  <label for="mensagem" class="form-label">E-mail:</label>
                  <input type="email" class="form-control" id="email" name="email" placeholder="Digite seu e-mail"
                    required>
                </div>
                <div class="col-12">
                  <label for="inputAddress" class="form-label">Mensagem:</label>
                  <textarea type="text" class="form-control" id="mensagem" name="mensagem" rows="10"
                    placeholder="Digite sua mensagem" required>
                  </textarea>
                </div>

                <div class="col-12 d-flex justify-content-center mt-4">
                  <button id='btn-enviar' type="submit" class="btn btn-outline-primary">Enviar Mensagem</button>

                  <button id='btn-enviar-loader' class="btn btn-primary" type="button" disabLed>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Enviando...
                  </button>

                </div>
              </form>


            </div>
          </div>
        </div>

      </div>
    </section>

    <section class="rodapé">
      <footer class="text-center">
        <div class="container">
          <br>
          <p>&copy; 2024 Developer Action. Todos os direitos reservados. Desenvolvido por Developer Action.</p>
        </div>
      </footer>
    </section>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}

    <div id="alerta" class="alert alert-success alert-dismissible fade show" role="alert">
      <i class="bi bi-check-circle-fill"></i> {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

  </main>

  <script src="../static/boodtrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/script.js"></script>
</body>

</html>